* {
    background-image: url('/images/galaxy.gif');
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    text-align: center;
    color: white;
}

input {
    color: white;
    background-color: white;
}